html, body, h1, h2, h3, p, ol, ul li, a {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 100%;
    font: inherit;
}

body {
    background-color: #FFFEF2;
    font-family: 'PT Sans', sans-serif;
    height: 2000px;
}

#heading {
    width: 100%;
    background-color: #E7AC0E;
    padding: 10px;
    position: fixed;
    z-index: 2;
    display: flex;
}

#company-name {
    padding: 10px;
    color: #ffffff;
    margin-left: 20px;
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
  
  #nav {
    padding: 10px;
    margin-right: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  #nav a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 20px;
  }

  #boxes {
      clear: both;
      position: absolute;
      top: 100px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .box {
      width: 250px;
      height: 450px;
      border: 1px solid #E7AC0E;
      border-radius: 7px;
      background-color: #ffffff;
      padding: 15px;
  }

  #dashboard, #budget, #checkbooks, #money {
    margin: 5px;
}

  .box h1 {
      font-size: 1.5em;
      padding: 15px 0;
  }

  .box p {
    font-size: 1em;
    padding: 0px 0 10px 15px;
}

#moreinfo {
    text-align: center;
    background-color: #E7AC0E;
    color:#ffffff;
    border-radius: 3px;
    padding: 3px;
    margin-top: 15px;
}

.box a {
    text-decoration: none;
    color: #ffffff;
}


  